In [3]:
import pandas as pd

In [6]:
func = pd.read_excel('2019Volume.xlsx')
func.head(3)

,Elspot volumes in MWh,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,Data was last updated 20-06-2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Turnover at system price,NO1 Buy,NO1 Sell,NO2 Buy,NO2 Sell,NO3 Buy,NO3 Sell,NO4 Buy,NO4 Sell,...,DK1 Buy,DK1 Sell,DK2 Buy,DK2 Sell,EE Buy,EE Sell,LV Buy,LV Sell,LT Buy,LT Sell
2,2019-01-01 00:00:00,"962979,3","117113,9","36893,1","101671,6","95138,0","77547,3","55707,9","47729,8","32519,2",...,"35378,6","83233,3","26206,4","39680,1","19671,2","16915,0","20882,6","9939,0","30864,8","41499,9"

In [7]:
func.shape

(173, 34)