In [8]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
# Importing 365 days in a year
df_date = pd.read_excel("DateInOneYear.xlsx", sheetname='2015', header=None)
RevisedDate = df_date[0]
RevisedDate.shape

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

(365,)

In [10]:
df = pd.read_excel("03. elspot-volumes_2015_daily.xlsx")
df['Date_daily'] = RevisedDate
df.head(5)

,Date_daily,Turnover at system price,NO1 Buy,NO1 Sell,NO2 Buy,NO2 Sell,NO3 Buy,NO3 Sell,NO4 Buy,NO4 Sell,...,DK1 Buy,DK1 Sell,DK2 Buy,DK2 Sell,EE Buy,EE Sell,LV Buy,LV Sell,LT Buy,LT Sell
0,2015-01-01,"953304,2","125376,8","54003,8","119138,3","113317,9","57283,8","29021,4","45815,4","34477,8",...,"21349,1","74853,6","31838,7","46282,9","19096,2","20781,3","17528,0","4886,2","24981,8","16471,7"
1,2015-01-02,"1013880,7","126923,6","53465,6","119676,1","129104,3","64188,9","34483,0","47928,7","38034,6",...,"24862,2","80127,7","37438,1","50647,5","20222,3","24969,0","19580,4","8537,5","24219,6","15890,7"
2,2015-01-03,"1012697,4","119946,5","49026,1","120224,4","142687,1","65069,8","35069,6","46983,4","38378,0",...,"25023,4","71563,9","37190,0","43143,0","18244,0","20796,7","19585,8","8633,6","20835,3","12626,7"
3,2015-01-04,"1052355,5","124085,7","50963,7","122283,3","158261,1","64112,5","36342,5","48399,5","38454,1",...,"29034,6","79152,9","34675,4","46318,4","19735,2","20666,1","19056,2","11332,8","20295,9","11546,5"
4,2015-01-05,"1212966,7","138822,5","59286,3","129750,8","202758,8","68211,1","52265,9","53226,8","70078,1",...,"57085,5","54003,9","45260,8","30834,3","23970,0","31775,8","23400,7","16723,9","25593,7","18228,8"

In [11]:
df.shape

(365, 34)

In [12]:
X = df['Date_daily']
SE1_Buy = df['SE1 Buy']
SE1_Sell = df['SE1 Sell']

In [ ]:
from matplotlib.pyplot import figure
figure(num=None, figsize=(20, 10), dpi=80, facecolor='w', edgecolor='k')

plt.plot(X,SE1_Buy)
plt.plot(X,SE1_Sell)

In [ ]:
SE2_Buy = df['SE2 Buy']
SE2_Sell = df['SE2 Sell']

In [ ]:
from matplotlib.pyplot import figure
figure(num=None, figsize=(20, 10), dpi=80, facecolor='w', edgecolor='k')

plt.plot(X,SE2_Buy)
plt.plot(X,SE2_Sell)

In [ ]:
SE3_Buy = df['SE3 Buy']
SE3_Sell = df['SE3 Sell']

In [ ]:
from matplotlib.pyplot import figure
figure(num=None, figsize=(20, 10), dpi=80, facecolor='w', edgecolor='k')

plt.plot(X,SE3_Buy)
plt.plot(X,SE3_Sell)

In [ ]:
SE4_Buy = df['SE4 Buy']
SE4_Sell = df['SE4 Sell']

In [ ]:
from matplotlib.pyplot import figure
figure(num=None, figsize=(20, 10), dpi=80, facecolor='w', edgecolor='k')

plt.plot(X,SE4_Buy)
plt.plot(X,SE4_Sell)