In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Importing 365 days in a year
df_date = pd.read_excel("DateInOneYear.xlsx", header=None)
RevisedDate = df_date[0]
RevisedDate.shape

(365,)

In [4]:
df = pd.read_excel("02. elspot-volumes_2014_daily.xlsx")
df['Date_daily'] = RevisedDate
df.tail(5)

,Elspot volumes in MWh,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Date_daily
362,27-12-2014,"1143994,3","146792,3","53331,5","121475,7","198308,9","69647,0","39191,4","52094,0","73092,9",...,"61060,5","36506,0","32600,1","21506,8","25230,1","20353,9","6682,0","26324,1","19932,6",2013-12-29
363,28-12-2014,"1177521,7","144006,2","53876,5","121737,5","208104,7","67469,0","43271,2","51632,9","77202,2",...,"49235,4","42479,1","27617,7","21409,0","24884,4","20014,2","6276,3","26931,9","20995,7",2013-12-30
364,29-12-2014,"1243569,2","149704,3","59212,9","129679,1","209273,8","66397,0","53685,6","53345,6","83456,6",...,"61156,8","46337,4","25959,5","24416,5","27411,6","23004,2","19599,5","28235,3","19520,7",2013-12-31
365,30-12-2014,"1180037,5","147228,4","57075,2","131267,1","198752,3","65383,4","48281,8","50433,9","70271,2",...,"52217,7","47139,4","27125,2","23127,2","28063,1","22456,9","15377,2","31857,8","21634,7",NaT
366,31-12-2014,"1047169,1","133623,2","54341,3","122123,1","166298,9","60145,5","37617,2","47142,6","47815,5",...,"54470,2","42273,9","29070,1","20659,7","28431,8","20492,5","14680,0","31310,4","18377,7",NaT

In [5]:
df.shape

(367, 33)

In [6]:
X = df['Date_daily']
Y1 = df['SE1 Buy']
Y2 = df['SE1 Sell']

KeyError: 'SE1 Buy'